In [43]:
# importing important libraries
import pandas as pd
from sklearn import ensemble
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import precision_recall_fscore_support as score
from sklearn.metrics import accuracy_score

In [44]:
# Load the data set
df = pd.read_csv("ml_house_data_set.csv")

In [45]:
df.head()

   year_built  stories  num_bedrooms  ...                city  zip_code  sale_price
0        1978        1             4  ...            Hallfort     10907    270897.0
1        1958        1             3  ...            Hallfort     10907    302404.0
2        2002        1             3  ...  Lake Christinaport     11203   2519996.0
3        2004        1             4  ...  Lake Christinaport     11203    197193.0
4        2006        1             4  ...  Lake Christinaport     11203    207897.0

[5 rows x 20 columns]

In [46]:
df.shape

(42703, 20)

In [47]:
#scaling features (this usualy improves accuracy)
columnames=df.columns
scaled_features = df.copy()

In [48]:
# selectign features that i think will likely have an effect on predicting price
col_names = ['year_built', 'stories', 'num_bedrooms', 'full_bathrooms',
       'half_bathrooms', 'livable_sqft', 'total_sqft',
       'garage_sqft', 'carport_sqft', 'sale_price']
features = df[col_names]
scaler = MinMaxScaler().fit(features.values)
features = scaler.transform(features.values)
scaled_features[col_names] = features

In [49]:
# Remove the fields from the data set that we don't want to include in our model
del scaled_features['house_number']
del scaled_features['unit_number']
del scaled_features['street_name']
del scaled_features['zip_code']

In [50]:
# Replace categorical data with one-hot encoded data
features_df = pd.get_dummies(scaled_features, columns=['garage_type', 'city'])

In [51]:
# Remove the sale price from the feature data
del features_df['sale_price']

In [52]:
# Create the X and y arrays
X = features_df.to_numpy()
y = scaled_features['sale_price'].to_numpy()

In [53]:
# Split the data set in a training set (70%) and a test set (30%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [54]:
# Choosing the model we intend to use
model = ensemble.GradientBoostingRegressor()

In [55]:
model.fit(X_train, y_train)

GradientBoostingRegressor(alpha=0.9, ccp_alpha=0.0, criterion='friedman_mse',
                          init=None, learning_rate=0.1, loss='ls', max_depth=3,
                          max_features=None, max_leaf_nodes=None,
                          min_impurity_decrease=0.0, min_impurity_split=None,
                          min_samples_leaf=1, min_samples_split=2,
                          min_weight_fraction_leaf=0.0, n_estimators=100,
                          n_iter_no_change=None, presort='deprecated',
                          random_state=None, subsample=1.0, tol=0.0001,
                          validation_fraction=0.1, verbose=0, warm_start=False)

In [56]:
# Find the error rate on the training set
mse = mean_absolute_error(y_train, model.predict(X_train))
print("Training Set Mean Absolute Error: %.4f" % mse)

Training Set Mean Absolute Error: 0.0034

In [57]:
# Find the error rate on the test set
mse = mean_absolute_error(y_test, model.predict(X_test))
print("Test Set Mean Absolute Error: %.4f" % mse)

Test Set Mean Absolute Error: 0.0035